*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;

}

h1{
    margin-bottom: 15px;
}

ul li{
    margin-bottom: 20px;
    cursor: default;
}

ul i {
    margin-left: 20px;
}

.hidden{
  visibility: hidden;
}

.block{
    display: block;
}

.mb-10{
    margin-bottom: 10px;
}
