<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sings</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/2013c63b7f.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container" id="app">

       

        <ul>
            <h1>Lista Canzoni</h1>

            <div>
                <label for="" class="block mb-10">Aggiungi Canzone</label>
                <input type="text" name="" id="" placeholder="cantante" class="block mb-10" v-model="song.cantante">
                <input type="text" placeholder="Nome Canzone" class="block mb-10" v-model="song.nome">
                <input type="text" placeholder="genere" class="block mb-10" v-model="song.genere">
                <input type="text" placeholder="durata" class="block mb-10" v-model="song.durata">
                <Button class="block mb-10" @click="addSong">Aggiungi</Button>
            </div>

            <li v-for="(item,index) in constArrayBrani" @click="showItem(index)" >
                
                Nome: {{item.nome}},  Cantante: {{item.cantante}}, Genere: {{item.genere}}, Durata: {{item.durata}}

                <i class="fa-solid fa-play" :class="{'hidden': item.active === false}"></i>
             
            </li>


        </ul>

    </div>
    

<script src="js/script.js"></script>    
</body>
</html>